@font-face {
    font-family: "Gunplay";
    src:url(../static/gunplay.regular.otf) ;
}

:root {
    --md-primary-fg-color: #FF69B4;
    --md-primary-fg-color--light: #FF8CC6;
    --md-primary-fg-color--dark: #FF369B;
}

.md-header__title {
    font-family: "Gunplay", sans-serif;
}

.md-typeset h1 {
    font-family: "Gunplay";
    color: #BD4D86;
}
.md-typeset table:not([class]) {
    display: table;
}

<<<<<<< HEAD
.md-footer {
    background-color: #FF8CC6;
}
.md-footer-meta {
    background-color: #BD4D86
=======
:root {
    --md-primary-fg-color: #BD4D86;
    --md-primary-fg-color--light: #BD4D86;
    --md-primary-fg-color--dark: #BD4D86;
}

.md-footer {
    background-color: #BD4D86;
}
.md-footer-meta {
    background-color: #973E6B;
>>>>>>> _footing_update_temp
}

readthedocs-flyout {
    display: none;
}