annotated-types==0.7.0 ; python_full_version >= "3.10.0" and python_version < "4.0"
antlr4-python3-runtime==4.13.2 ; python_full_version >= "3.10.0" and python_version < "4"
arrow==1.3.0 ; python_full_version >= "3.10.0" and python_version < "4"
attrs==24.2.0 ; python_full_version >= "3.10.0" and python_version < "4"
aws-sam-translator==1.91.0 ; python_full_version >= "3.10.0" and python_version < "4.0"
aws-xray-sdk==2.14.0 ; python_full_version >= "3.10.0" and python_version < "4"
babel==2.16.0 ; python_full_version >= "3.10.0" and python_version < "4"
binaryornot==0.4.4 ; python_full_version >= "3.10.0" and python_version < "4"
black==24.8.0 ; python_full_version >= "3.10.0" and python_version < "4"
blinker==1.8.2 ; python_full_version >= "3.10.0" and python_version < "4"
boto3==1.35.14 ; python_full_version >= "3.10.0" and python_version < "4"
botocore==1.35.14 ; python_full_version >= "3.10.0" and python_version < "4"
cachetools==5.5.0 ; python_full_version >= "3.10.0" and python_version < "4"
certifi==2024.8.30 ; python_full_version >= "3.10.0" and python_version < "4"
cffi==1.17.1 ; python_full_version >= "3.10.0" and python_version < "4" and platform_python_implementation != "PyPy"
cfn-lint==1.12.4 ; python_full_version >= "3.10.0" and python_version < "4"
chardet==5.2.0 ; python_full_version >= "3.10.0" and python_version < "4"
charset-normalizer==3.3.2 ; python_full_version >= "3.10.0" and python_version < "4"
click==8.1.7 ; python_full_version >= "3.10.0" and python_version < "4"
colorama==0.4.6 ; python_full_version >= "3.10.0" and python_version < "4"
cookiecutter==1.7.3 ; python_full_version >= "3.10.0" and python_version < "4"
coverage[toml]==7.6.1 ; python_full_version >= "3.10.0" and python_version < "4"
cryptography==43.0.1 ; python_full_version >= "3.10.0" and python_version < "4"
distlib==0.3.8 ; python_full_version >= "3.10.0" and python_version < "4"
docker==7.1.0 ; python_full_version >= "3.10.0" and python_version < "4"
exceptiongroup==1.2.2 ; python_full_version >= "3.10.0" and python_version < "3.11"
filelock==3.16.0 ; python_full_version >= "3.10.0" and python_version < "4"
flask-cors==5.0.0 ; python_full_version >= "3.10.0" and python_version < "4"
flask==3.0.3 ; python_full_version >= "3.10.0" and python_version < "4"
footing==0.1.4 ; python_full_version >= "3.10.0" and python_version < "4"
ghp-import==2.1.0 ; python_full_version >= "3.10.0" and python_version < "4"
graphql-core==3.2.4 ; python_full_version >= "3.10.0" and python_version < "4"
griffe==1.2.0 ; python_full_version >= "3.10.0" and python_version < "4"
idna==3.8 ; python_full_version >= "3.10.0" and python_version < "4"
iniconfig==2.0.0 ; python_full_version >= "3.10.0" and python_version < "4"
itsdangerous==2.2.0 ; python_full_version >= "3.10.0" and python_version < "4"
jinja2-time==0.2.0 ; python_full_version >= "3.10.0" and python_version < "4"
jinja2==3.1.4 ; python_full_version >= "3.10.0" and python_version < "4"
jmespath==1.0.1 ; python_full_version >= "3.10.0" and python_version < "4"
joserfc==1.0.0 ; python_full_version >= "3.10.0" and python_version < "4"
jsondiff==2.2.1 ; python_full_version >= "3.10.0" and python_version < "4"
jsonpatch==1.33 ; python_full_version >= "3.10.0" and python_version < "4"
jsonpath-ng==1.6.1 ; python_full_version >= "3.10.0" and python_version < "4"
jsonpointer==3.0.0 ; python_full_version >= "3.10.0" and python_version < "4"
jsonschema-path==0.3.3 ; python_full_version >= "3.10.0" and python_version < "4"
jsonschema-specifications==2023.12.1 ; python_full_version >= "3.10.0" and python_version < "4"
jsonschema==4.23.0 ; python_full_version >= "3.10.0" and python_version < "4"
lazy-object-proxy==1.10.0 ; python_full_version >= "3.10.0" and python_version < "4"
markdown-it-py==3.0.0 ; python_full_version >= "3.10.0" and python_version < "4"
markdown==3.7 ; python_full_version >= "3.10.0" and python_version < "4"
markupsafe==2.1.5 ; python_full_version >= "3.10.0" and python_version < "4"
mdurl==0.1.2 ; python_full_version >= "3.10.0" and python_version < "4"
mergedeep==1.3.4 ; python_full_version >= "3.10.0" and python_version < "4"
mkdocs-autorefs==1.2.0 ; python_full_version >= "3.10.0" and python_version < "4"
mkdocs-get-deps==0.2.0 ; python_full_version >= "3.10.0" and python_version < "4"
mkdocs-material-extensions==1.3.1 ; python_full_version >= "3.10.0" and python_version < "4"
mkdocs-material==9.5.33 ; python_full_version >= "3.10.0" and python_version < "4"
mkdocs==1.6.0 ; python_full_version >= "3.10.0" and python_version < "4"
mkdocstrings-python==1.10.8 ; python_full_version >= "3.10.0" and python_version < "4"
mkdocstrings==0.26.1 ; python_full_version >= "3.10.0" and python_version < "4"
moto[s3,server]==5.0.12 ; python_full_version >= "3.10.0" and python_version < "4"
mpmath==1.3.0 ; python_full_version >= "3.10.0" and python_version < "4"
msgspec==0.18.6 ; python_full_version >= "3.10.0" and python_version < "4"
mypy-extensions==1.0.0 ; python_full_version >= "3.10.0" and python_version < "4"
networkx==3.3 ; python_version >= "3.10" and python_version < "4"
nodeenv==1.9.1 ; python_full_version >= "3.10.0" and python_version < "4"
openapi-schema-validator==0.6.2 ; python_full_version >= "3.10.0" and python_version < "4"
openapi-spec-validator==0.7.1 ; python_full_version >= "3.10.0" and python_version < "4"
packaging==24.1 ; python_full_version >= "3.10.0" and python_version < "4"
paginate==0.5.7 ; python_full_version >= "3.10.0" and python_version < "4"
pathable==0.4.3 ; python_full_version >= "3.10.0" and python_version < "4"
pathspec==0.12.1 ; python_full_version >= "3.10.0" and python_version < "4"
platformdirs==4.3.2 ; python_full_version >= "3.10.0" and python_version < "4"
pluggy==1.5.0 ; python_full_version >= "3.10.0" and python_version < "4"
ply==3.11 ; python_full_version >= "3.10.0" and python_version < "4"
poetry-core==1.9.0 ; python_full_version >= "3.10.0" and python_version < "4.0"
poyo==0.5.0 ; python_full_version >= "3.10.0" and python_version < "4"
py-partiql-parser==0.5.5 ; python_full_version >= "3.10.0" and python_version < "4"
pycparser==2.22 ; python_full_version >= "3.10.0" and python_version < "4" and platform_python_implementation != "PyPy"
pydantic-core==2.23.2 ; python_full_version >= "3.10.0" and python_version < "4.0"
pydantic==2.9.0 ; python_full_version >= "3.10.0" and python_version < "4.0"
pygments==2.18.0 ; python_full_version >= "3.10.0" and python_version < "4"
pymdown-extensions==10.11.1 ; python_full_version >= "3.10.0" and python_version < "4"
pyparsing==3.1.4 ; python_full_version >= "3.10.0" and python_version < "4"
pyproject-api==1.7.1 ; python_full_version >= "3.10.0" and python_version < "4"
pyright==1.1.377 ; python_full_version >= "3.10.0" and python_version < "4"
pytest-cov==5.0.0 ; python_full_version >= "3.10.0" and python_version < "4"
pytest-dotenv==0.5.2 ; python_full_version >= "3.10.0" and python_version < "4"
pytest-mock==3.14.0 ; python_full_version >= "3.10.0" and python_version < "4"
pytest==8.3.2 ; python_full_version >= "3.10.0" and python_version < "4"
python-dateutil==2.9.0.post0 ; python_full_version >= "3.10.0" and python_version < "4"
python-dotenv==1.0.1 ; python_full_version >= "3.10.0" and python_version < "4"
python-gitlab==4.10.0 ; python_full_version >= "3.10.0" and python_version < "4"
python-slugify==8.0.4 ; python_full_version >= "3.10.0" and python_version < "4"
pywin32==306 ; python_full_version >= "3.10.0" and python_version < "4" and sys_platform == "win32"
pyyaml-env-tag==0.1 ; python_full_version >= "3.10.0" and python_version < "4"
pyyaml==6.0.2 ; python_full_version >= "3.10.0" and python_version < "4"
referencing==0.35.1 ; python_full_version >= "3.10.0" and python_version < "4"
regex==2024.7.24 ; python_full_version >= "3.10.0" and python_version < "4"
requests-file==2.1.0 ; python_full_version >= "3.10.0" and python_version < "4"
requests-toolbelt==1.0.0 ; python_full_version >= "3.10.0" and python_version < "4"
requests==2.32.3 ; python_full_version >= "3.10.0" and python_version < "4"
responses==0.25.3 ; python_full_version >= "3.10.0" and python_version < "4"
rfc3339-validator==0.1.4 ; python_full_version >= "3.10.0" and python_version < "4"
rich==13.8.0 ; python_full_version >= "3.10.0" and python_version < "4"
rpds-py==0.20.0 ; python_full_version >= "3.10.0" and python_version < "4"
ruff==0.6.2 ; python_full_version >= "3.10.0" and python_version < "4"
s3transfer==0.10.2 ; python_full_version >= "3.10.0" and python_version < "4"
setuptools==74.1.2 ; python_full_version >= "3.10.0" and python_version < "4"
six==1.16.0 ; python_full_version >= "3.10.0" and python_version < "4"
sympy==1.13.2 ; python_full_version >= "3.10.0" and python_version < "4"
text-unidecode==1.3 ; python_full_version >= "3.10.0" and python_version < "4"
tldextract==5.1.2 ; python_full_version >= "3.10.0" and python_version < "4"
tomli==2.0.1 ; python_full_version >= "3.10.0" and python_full_version <= "3.11.0a6"
tox==4.18.0 ; python_full_version >= "3.10.0" and python_version < "4"
types-python-dateutil==2.9.0.20240906 ; python_full_version >= "3.10.0" and python_version < "4"
typing-extensions==4.12.2 ; python_full_version >= "3.10.0" and python_version < "4"
tzdata==2024.1 ; python_full_version >= "3.10.0" and python_version < "4.0"
urllib3==2.2.2 ; python_version >= "3.10" and python_version < "4"
virtualenv==20.26.4 ; python_full_version >= "3.10.0" and python_version < "4"
watchdog==5.0.2 ; python_full_version >= "3.10.0" and python_version < "4"
werkzeug==3.0.4 ; python_full_version >= "3.10.0" and python_version < "4"
wrapt==1.16.0 ; python_full_version >= "3.10.0" and python_version < "4"
xmltodict==0.13.0 ; python_full_version >= "3.10.0" and python_version < "4"
xxhash==3.5.0 ; python_full_version >= "3.10.0" and python_version < "4"
